.small__card__container {
  width: 400px;
  margin-bottom: 15px;
}

.small__card__content {
  display: flex;
  flex-direction: row;
}

.small__card__photo img {
  width: 200px;
  margin-right: 10px;
}

.small__card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small__card__separator  {
  margin-top: 10px;
}
